<h4>个人信息</h4>

<%= form_for(@profile, url: student_profile_path) do |f| %>
  <% if @profile.errors.any? %>
    <div>
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :avatar, "头像（只接受png或者jpeg/jpg）" %><br />
    <% if @profile.avatar.present? %>
      <%= image_tag @profile.avatar.url(:medium) %>
    <% end %>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :full_name, "称呼（建议英文）" %><br />
    <%= f.text_field :full_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email, "邮箱" %><br />
    <%= f.text_field :email, readonly: true %>
  </div>

  <div class="field">
    <%= f.label :time_zone, "时区" %><br />
    <%= f.time_zone_select :time_zone, nil %>
  </div>

  <div class="field">
    <%= f.label :age_range, "年龄" %><br />
    <%= f.select :age_range, Student::AGE_RANGES, { include_blank: '保密' } %>
  </div>

  <div class="field">
    <%= f.label :preferred_teacher_type, '理想外教的年龄段' %><br />
    <%= f.radio_button :preferred_teacher_type, 'student' %>
    <%= f.label :preferred_teacher_type_student, student_preferred_teacher_type_mapping('student') %>
    <%= f.radio_button :preferred_teacher_type, 'certified' %>
    <%= f.label :preferred_teacher_type_certified, student_preferred_teacher_type_mapping('certified') %>
    <%= f.radio_button :preferred_teacher_type, 'any' %>
    <%= f.label :preferred_teacher_type_any, student_preferred_teacher_type_mapping('any') %>
  </div>

  <div class="field">
    <%= f.label :preferred_teacher_gender, '理想外教的性别' %><br />
    <%= f.radio_button :preferred_teacher_gender, 'femal' %>
    <%= f.label :preferred_teacher_gender_female, 'Lady' %>
    <%= f.radio_button :preferred_teacher_gender, 'male' %>
    <%= f.label :preferred_teacher_gender_male, 'Gentleman' %>
    <%= f.radio_button :preferred_teacher_gender, 'either' %>
    <%= f.label :preferred_teacher_gender_either, '都可以' %>
  </div>

  <div class="field">
    <%= f.label :purposes, '希望得到以下教学服务' %><br />
    <%= f.check_box :purposes, {
      multiple: true,
      checked: (@profile.purposes.present? and @profile.purposes.include?('tests'))
    }, 'tests', nil %>
    <%= f.label :purposes_tests, student_purpose_mapping('tests') %>
    <%= f.check_box :purposes, {
      multiple: true,
      checked: (@profile.purposes.present? and @profile.purposes.include?('aboard'))
    },'aboard', nil %>
    <%= f.label :purposes_aboard, student_purpose_mapping('aboard') %>
    <%= f.check_box :purposes, {
      multiple: true,
      checked: (@profile.purposes.present? and @profile.purposes.include?('business'))
    }, 'business', nil %>
    <%= f.label :purposes_business, student_purpose_mapping('business') %>
    <%= f.check_box :purposes, {
      multiple: true,
      checked: (@profile.purposes.present? and @profile.purposes.include?('skill'))
    }, 'skill', nil %>
    <%= f.label :purposes_skill, student_purpose_mapping('skill') %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<%= render partial: "student/shared/back_home_button" %>
