<% if appointment.not_started? %>
  <%= render partial: 'student/shared/scheduled_start', locals: { appointment: appointment } %>

  <% if appointment.cancelable? %>
    <%= link_to('取消预约',
      student_appointment_path(appointment, state: :canceled),
      method: "put",
      remote: true,
      id: "cancel-appointment-#{appointment.id}",
      class: "btn btn-link",
      data: { confirm: "确定要取消预约么？" }
    )%>
  <% end %>
<% end %>

<% if appointment.ongoing? %>
  <div class="text-center">
    <span>正在进行</span>
  </div>
<% end %>

<% if appointment.uncompleted? %>
  <%= link_to("确认完成",
    student_appointment_path(appointment, state: :completed),
    method: "put",
    remote: true,
    id: "complete-appointment-#{appointment.id}",
    class: "btn btn-default btn-raised"
  )%>
  <%= render partial: 'student/shared/scheduled_start', locals: { appointment: appointment } %>
<% end %>

<% if appointment.state.completed? %>
  <%= link_to("预约后续",
    new_student_appointment_path(teacher_id: appointment.teacher.id),
    remote: true,
    class: "btn btn-default btn-raised",
    data: { toggle: "modal", target: "#appointment-modal" }
  )%>
  <%= render partial: 'student/shared/scheduled_start', locals: { appointment: appointment } %>
<% end %>

<% if appointment.state.canceled? %>
  <%= link_to("重新预约",
    new_student_appointment_path(teacher_id: appointment.teacher.id),
    remote: true,
    class: "btn btn-default btn-raised",
    data: { toggle: "modal", target: "#appointment-modal" }
  )%>

  <div class="text-center small">
    <span><%= student_format(appointment.updated_at) + " 被取消" %></span>
  </div>
<% end %>
