<div class="card main-card">
  <div class="profile">
    <div class="pic">
      <%= image_tag("no_profile_image") %>
    </div>
    <div class="info">
      <%= teacher.full_name %>
      <br />
      <br />
      <br />
      <small><%= ExchangeService.dollar_to_yuan(teacher.rate) %>元/课</small>
    </div>
  </div>
  <div class="actions">
    <%= link_to("预约课程",
      new_student_appointment_path(teacher_id: teacher.id),
      remote: true,
      class: "btn btn-default btn-raised",
      data: { toggle: "modal", target: "#appointment-modal" }
    )%>

    <% existing = current_student.teachers.include?(teacher) %>
    <%= link_to('移除列表',
      student_teacher_path(teacher),
      method: "delete",
      remote: true,
      id: "remove-teacher-#{teacher.id}",
      class: "btn btn-link #{!existing ? "hidden" : ""}"
    )%>
    <%= link_to('加入列表',
      student_teachers_path(teacher_id: teacher.id),
      method: "post",
      remote: true,
      id: "add-teacher-#{teacher.id}",
      class: "btn btn-link #{existing ? "hidden" : ""}"
    )%>
  </div>
</div>
