<% content_for :title, "MsPan － 关于我们" %>

<%= render partial: 'short_header' %>

		<!--Head img section-->
		<section class="waypoint" data-hash="head">
			<!--Img block-->
			<div class="img-block features-watch alt-bg" style="padding-top:189px; padding-bottom:173px;">
				<div class="overlay" style="opacity:0.3;"></div>
			</div>
		</section>

        <!-- About Section -->
        <section class="waypoint"  data-hash="about">
            <div class="spacer" style="height:76px;"></div>
	        <div class="container">
	            <div class="row" id="indexAbout">
	                <div class="tAc">
	                    <h2 class="big-title" data-animation="fadeInUp slow" data-delay="0" style="text-transform:capitalize;">关于 MsPan</h2>
							<p class="adaptBig" style="max-width:500px; margin:0 auto; padding-bottom:63px;"    data-animation="fadeInUp slow" data-delay="0.2">精英引领，伴随始终</p>
	                   <!--  <h2 class="big" style="padding-bottom:33px; text-transform:capitalize;" data-animation="fadeInUp slow" data-delay="0">关于 MsPan</h2>
	                    <h4 class="small text-muted">精英引领，伴随始终</h3> -->
	                </div>
	            </div>

	            <div class="row">
	                <div class="col-lg-12">
	                    <ul class="timeline">
	                        <li>
	                            <div class="timeline-image">
	                                <%= image_tag("home/1.jpg", alt: "",class: "img-responsive img-circle") %>
	                                <!-- <img class="img-circle img-responsive" src="./img/1.jpg" alt=""> -->
	                            </div>
	                            <div class="timeline-panel">
	                                <div class="timeline-heading">
	                                    <h4 style="color:black">2009.08</h4>
	                                    <h4 class="subheading" style="color:black">第一次登陆美国</h4>
	                                </div>
	                                <div class="spacer" style="height:10px;"></div>
	                                <div class="timeline-body">
	                                    <p class="text-muted adaptMid">远远看着曼哈顿黑压压的楼层，心情激动又紧张。</p>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="timeline-inverted">
	                            <div class="timeline-image">
	                            <%= image_tag("home/2.jpg", alt: "",class: "img-responsive img-circle") %>
	                                <!-- <img class="img-circle img-responsive" src="./img/2.jpg" alt=""> -->
	                            </div>
	                            <div class="timeline-panel">
	                                <div class="timeline-heading">
	                                    <h4 style="color:black">2009.10</h4>
	                                    <h4 class="subheading" style="color:black">留美两个月的真相</h4>
	                                </div>
	                                <div class="spacer" style="height:10px;"></div>
	                                <div class="timeline-body">
	                                    <p class="text-muted adaptMid">问：你到了纽约，跟当地native speaker轻松自如交朋友聊天有多难？</p>
	                                    <p class="text-muted adaptMid">答：要多难有多难。</p>
	                                    <p class="text-muted adaptMid">问：在美国名校读书英语口语好有多重要?</p>
	                                    <p class="text-muted adaptMid">答：要多重要有多重要。</p>
	                                </div>
	                            </div>
	                        </li>
	                        <li>
	                            <div class="timeline-image">
	                            <%= image_tag("home/3.jpg", alt: "",class: "img-responsive img-circle") %>
	                                <!-- <img class="img-circle img-responsive" src="./img/3.jpg" alt=""> -->
	                            </div>
	                            <div class="timeline-panel">
	                                <div class="timeline-heading">
	                                    <h4 style="color:black">2009.12.25</h4>
	                                    <h4 class="subheading" style="color:black">站在世界文化中心</h4>
	                                </div>
	                                <div class="spacer" style="height:10px;"></div>
	                                <div class="timeline-body">
	                                    <p class="text-muted adaptMid">
	                                    圣诞夜，黑暗又霓虹的时代广场，我站在世界中心，此刻充斥在心中更多的是对巨大语言文化差异的恐惧和担忧。</p>
	                                    <!-- 圣诞夜，黑暗又霓虹的时代广场，我站在世界中心，心中充斥着的却是因巨大语言文化差异而产生的恐惧和担忧。 -->
	                                </div>
	                            </div>
	                        </li>
	                        <li class="timeline-inverted">
	                            <div class="timeline-image">
	                            <%= image_tag("home/4.jpg", alt: "",class: "img-responsive img-circle") %>
	                                <!-- <img class="img-circle img-responsive" src="./img/4.jpg" alt=""> -->
	                            </div>
	                            <div class="timeline-panel">
	                                <div class="timeline-heading">
	                                    <h4 style="color:black">2010.06</h4>
	                                    <h4 class="subheading" style="color:black">一个电影迷的无奈日常</h4>
	                                </div>
	                                <div class="spacer" style="height:10px;"></div>
	                                <div class="timeline-body">
	                                    <p class="text-muted adaptMid">在电影院看电影，全场美国人数次哄堂大笑，完全没有get笑点的我只能呵呵哒。</p>
	                                </div>
	                            </div>
	                        </li>
	                        <li>
	                            <div class="timeline-image">
	                            <%= image_tag("home/3.jpg", alt: "",class: "img-responsive img-circle") %>
	                                <!-- <img class="img-circle img-responsive" src="./img/3.jpg" alt=""> -->
	                            </div>
	                            <div class="timeline-panel">
	                                <div class="timeline-heading">
	                                    <h4 style="color:black">2011.09</h4>
	                                    <h4 class="subheading" style="color:black">跟native speaker苦练口语，然而...</h4>
	                                </div>
	                                <div class="spacer" style="height:10px;"></div>
	                                <div class="timeline-body">
	                                    <p class="text-muted adaptMid">厚着脸皮，抓住各种机会跟所有能接触到的native speakers苦练英语口语，终于慢慢摆脱了中式英语的套路，自信自如地表达自己。直到去参加美国好朋友的party, 才发现自己在一群美国人中间，又变成了哑巴。自己对文化的了解还远远不够。</p>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="timeline-inverted">
	                            <div class="timeline-image">
	                            <%= image_tag("home/4.jpg", alt: "",class: "img-responsive img-circle") %>
	                                <!-- <img class="img-circle img-responsive" src="./img/4.jpg" alt=""> -->
	                            </div>
	                            <div class="timeline-panel">
	                                <div class="timeline-heading">
	                                    <h4 style="color:black">2012.12</h4>
	                                    <h4 class="subheading" style="color:black">
	                                    “我被哈佛录取了，谢谢你，Ms. Pan!”</h4>
	                                </div>
	                                <div class="spacer" style="height:10px;"></div>
	                                <div class="timeline-body">
	                                    <p class="text-muted adaptMid">在纽约重点高中做外语老师，跟美国青春期的熊孩子们斗智斗勇，
	                                    拼反应讲道理。文化政治，美剧电影，人生梦想都得能信手拈来才能让他们心服口服。 收到学生们被各大常春藤录取的消息和感谢，真正体会到了做教育的意义。</p>
	                                </div>
	                            </div>
	                        </li>
	                        <li>
	                            <div class="timeline-image">
	                            <%= image_tag("home/3.jpg", alt: "",class: "img-responsive img-circle") %>
	                                <!-- <img class="img-circle img-responsive" src="./img/3.jpg" alt=""> -->
	                            </div>
	                            <div class="timeline-panel">
	                                <div class="timeline-heading">
	                                    <h4 style="color:black">2016.06</h4>
	                                    <h4 class="subheading" style="color:black">MsPan诞生！</h4>
	                                </div>
	                                <div class="spacer" style="height:10px;"></div>
	                                <div class="timeline-body">
	                                    <p class="text-muted adaptMid">在积累了大量外语教学经验和资源后，回望自己一路走来&#9473;&#9473;练习口语的艰辛历程和融入美国本土文化的挣扎，萌生了创办MsPan来帮助更多像我当初一样希望能高效提高英语口语和了解本土文化的人。</p>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="timeline-inverted">
	                            <div class="timeline-image">
	                            <%= image_tag("home/mspan.jpg", alt: "",class: "img-responsive img-circle") %>
	                                <!-- <img class="img-circle img-responsive" src="./img/mspan.jpg" alt=""> -->
	                            </div>
	                            <div class="timeline-panel">
	                                <div class="timeline-heading">
	                                    <h4 style="color:black">2016.11</h4>
	                                    <h4 class="subheading" style="color:black">一切，皆为助你找到最好的自己</h4>
	                                </div>
	                                <div class="spacer" style="height:10px;"></div>
	                                <div class="timeline-body">
	                                    <p class="text-muted adaptMid">有留美经历的我们，知道你最需要什么!</p>
	                                    <p class="text-muted adaptMid">常春藤名校精英引领，教学顾问伴随始终。</p>
	                                    <p class="text-muted adaptMid">We’ve been there before, and we know how hard it is, and that’ why we can help you.</p>
	                                </div>
	                            </div>
	                        </li>
	                        <!-- <li class="timeline-inverted">
	                            <div class="timeline-image">
	                                <h4>Be Part
	                                    <br>Of Our
	                                    <br>Story!</h4>
	                            </div>
	                        </li> -->
	                    </ul>
	                </div>
	            </div>
	        </div>
        </section>

		<section class="waypoint" id="team" data-hash="team">
		    <div class="spacer" style="height:120px;"></div>
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12 tAc">
	                    <h2 class="big-title">Our Amazing Team</h2>
	                    <p class="adaptBig">The people who make MsPan possible.</p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-4">
	                    <div class="team-member">
	                        <%= image_tag("home/xue.jpg", alt: "",class: "img-responsive img-circle") %>
	                        <h4>Ms. Pan</h4>
	                        <p class="text-muted">Member<br>纽约大学教育学硕士</p>
	                    </div>
	                </div>
	                <div class="col-sm-4">
	                    <div class="team-member">
	                        <%= image_tag("home/xin.jpg", alt: "",class: "img-responsive img-circle") %>
	                        <h4>Mike Chen</h4>
	                        <p class="text-muted">Member<br>美国哥伦比亚大学硕士</p>
	                    </div>
	                </div>
	                <div class="col-sm-4">
	                    <div class="team-member">
	                        <%= image_tag("home/bo2.jpg", alt: "",class: "img-responsive img-circle") %>
	                        <h4>Bo Liang</h4>
	                        <p class="text-muted">Member<br>美国哥伦比亚大学硕士</p>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-4">
	                    <div class="team-member">
	                        <%= image_tag("home/jinpu.jpg", alt: "",class: "img-responsive img-circle") %>
	                        <h4>Jinpu Yang</h4>
	                        <p class="text-muted">Member<br>纽约大学博士</p>
	                    </div>
	                </div>
	                <div class="col-sm-4">
	                    <div class="team-member">
	                    <%= image_tag("home/ge.jpg", alt: "",class: "img-responsive img-circle") %>
	                        <h4>Bailey Yang</h4>
	                        <p class="text-muted">Member<br>一线留学英语名师</p>
	                    </div>
	                </div>
	                
	            </div>
	        </div>
	        <div class="spacer" style="height:120px;"></div>
		</section>

<%= render partial: 'footer' %>
