<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="MsPan致力于为英语爱好者和出国党打造最优质线上一对一北美外教口语平台, 精英引领, 伴随始终。"／>
        <META NAME="AUTHOR" CONTENT="MsPan">
        <META NAME="COPYRIGHT" CONTENT="&copy; 2016 MsPan">

		<title>MsPan － 联系我们</title>
		
<%= csrf_meta_tags %>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-86757428-1', 'auto');
		  ga('send', 'pageview');
		</script>

        <link rel="stylesheet" href="assets/home/css/bootstrap.css" media="screen" />
		<link rel="stylesheet" href="assets/home/css/styles.css" media="screen" />
		<link rel="stylesheet" href="assets/home/css/font-awesome.min.css" media="screen" />
		<link rel="stylesheet" href="assets/home/css/magnific-popup.css" media="screen" />
		<link rel="stylesheet" href="assets/home/css/retina.css" media="screen" />
		<link rel="stylesheet" href="assets/home/css/media.css" media="screen" />
		<link rel="stylesheet" href="assets/home/css/animated.min.css" media="screen" />
		<link rel="shortcut icon" href="assets/home/mspanicon.jpg" type="image/jpg">	

		<script type="text/javascript" src='assets/home/modernizr.min.js'></script>
		
	</head>		
	<body>
		
		<!--Welcome section-->
		<header class="alt"  data-animation="fadeIn fast" data-delay="0"> <!--alt class for no bg -->
			<div class="container">
				<div class="row">
					<!--Company name-->
					<div class="col-md-3 for-mobile-header-1"><!-- for-menu-header-1 class for fullwidth dropdown menu on devices -->
						<h1><%= link_to "MsPan", "/", style: "text-transform:capitalize; color:#fed136;" %></h1>
					</div>
					<div class="col-md-9 for-mobile-header-2 for-one-page"><div class="mobile-wrapper clearfix">  <!-- for-menu-header-2 class for fullwidth dropdown menu on devices -->
							<!--Menu block-->
							<nav class="main-menu clearfix navbar navbar-default">
								<!--menu button on responsive -->
								<div class="navbar-header" data-toggle="collapse" data-target="#top-main-menu">
									<button type="button" class="navbar-toggle">									
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="#">菜单导航</a> 
								</div>
							</nav>
							<div class="collapse navbar-collapse m-menu" id="top-main-menu">
								<ul class="sf-menu superfish-li-relative">
								   <li><a href="https://www.wenjuan.com/s/6JBJJv/" class="active" target="_blank"><span class="fa fa-user"></span> 申请上课 </a></li>
                                   <!-- <li><a href="#" class="active"><span class="fa fa-user"></span> 注册 </a></li>
                                   <li><a href="#" class="active"><span class="fa fa-sign-in"></span> 登录 </a></li> -->
                                   <!-- <li><a href="teacher.html" class="link-header link-underline-brand" style="text-transform:capitalize; font-size:13px;">Apply to Teach</a></li> -->
                                   <li><%= link_to "Apply to Teach", {controller: "home", action: "teacherhome"}, class: "link-header link-underline-brand", style: "text-transform:capitalize; font-size:13px;" %></li>
								</ul>
							</div>
						</div></div>
				</div>
			</div>
		</header>

		<!--Head img section-->
		<section class="waypoint" data-hash="head">
			<!--Img block-->
			<div class="img-block features-watch alt-bg" style="padding-top:189px; padding-bottom:173px;">
				<div class="overlay" style="opacity:0.3;"></div>
			</div>
		</section>
 
        <!--Contacts section-->
		<section data-hash="contacts" class="waypoint" >
			<div>
				<div class="spacer" style="height:81px;"></div>
				<!--Contact form block-->
				<div class="container">
					<div class="col-sm-12">
						<div class="row">
							<div class="tAc">
								<h2 class="big" style="max-width:710px; display:inline-block;" data-animation="fadeInUp slow" data-delay="0">联系我们</h2><br />
								<span class="contact-column-1" data-animation="fadeInUp slow" data-delay="0.2">我们努力在24小时之内回复您的留言</span>
								<!-- <form method="post" id="contact_form" name="contact_form" class="big clearfix" action="inc/send.php" data-animation="fadeInUp" data-delay="0.6">		
									<div class="contact-onehalf fLeft"><input type="text" name="name" placeholder="姓名" class="name"></div>
									<div class="contact-onehalf fRight"><input type="email" name="email" placeholder="电子邮箱" class="email"></div>
                                    <div class="clear-2"><input type="tel" name="tel" placeholder="电话 (+86)*" class="tel">
                                    </div>
									<div><textarea name="message" placeholder="请留言 ... ..."></textarea></div>
									<div class="spacer" style="height:12px;"></div>
									<div class="buttons clearfix">
										<button type="submit" class="button8 btn-1 send">发送信息</button>
									</div>
								</form> -->
							</div>
						</div>
                          
                        <div class="spacer" style="height:60px;"></div>
                          
                        <div class="row">
                            <div class="tAc">
                        		    <p class ="adaptBig" style="color:black">邮箱：contact@mspan.cn</p>
                        			<p class ="adaptBig" style="color:black">微信咨询ID（常年24小时在线）：mspan001</p>
                     				<p class ="adaptBig" style="color:black">微信公众号&#9473;MsPan咨询</p>
                     				<div class="spacer" style="height:35px;"></div>
                     				<!-- <div class="tAc"> -->
										<i> 
										    <%= image_tag("home/weixinIcon.png", alt: "",class: "img-responsive", style:"margin: 0 auto; height:30px; width: 30px ") %>
								    		<!-- <img src="img/weixinIcon.png" class="img-responsive" style="margin: 0 auto; height:30px; width: 30px " alt=""> -->
										</i>
										<div class="spacer" style="height:10px;"></div>
										<%= image_tag("home/wechat.jpg", alt: "",class: "img-responsive wechatBarCode", style:"margin: 0 auto;") %>
                                		<!-- <img src="img/wechat.jpg" class="img-responsive wechatBarCode" style="margin: 0 auto;" alt=""> -->
                            </div>
                        </div>
                    </div>
                </div>
				<div class="spacer" style="height:78px;"></div>
			</div>
		</section>	

		<!--Footer section-->
		<section id="footer">
            <div class="copyright-block">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="tAc">
							    <div style="margin-top: 10px;">
							        <%= link_to "MsPan", "/", style: "font-family:Kaushan Script,Helvetica Neue,Helvetica,Arial,cursive; font-size:25px; text-decoration: none; color:#fed136" %>
                                    <!-- <a href = "index.html" style="font-family:Kaushan Script,Helvetica Neue,Helvetica,Arial,cursive; font-size:25px; text-decoration: none; color:#fed136">MsPan</a> -->
                                </div><br>
                                 <div class="links text-center text-uppercase">
                                 <%= link_to "首页", "/" %> · 
                                 <%= link_to "关于我们", {controller:"home", action:"about"} %> · 
                                 <%= link_to "学员指南", {controller:"home", action:"guidance"} %> · 
                                 <%= link_to "法律声明", {controller:"home", action:"terms"} %>
                                 <!-- <a href="index.html" style="text-decoration: none;">首页</a> · <a href="about.html" style="text-decoration: none;">关于我们</a> · <a href="guidance.html" style="text-decoration: none;">学员指南</a> · <a href="terms.html" rel="nofollow" style="text-decoration: none;">法律声明</a>  -->
                                  </div>
                                  <div class="spacer" style="height:20px;"></div>
								<div style="font-weight:lighter;color:rgb(131, 128, 128);font-size:13px;"><div>MsPan 精英引领 伴随始终</div>
								<div class="notranslate" style="font-size:10px;">Copyright &copy; 2016 MsPan
								- All Rights Reserved.</div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script type="text/javascript" src='assets/home/jquery.min.js'></script>	
		<script>
			/* <![CDATA[ */
			var loadPageScripts = [
				'imagesloaded.pkgd.min.js',
				'bootstrap.min.js',				
				'isotope.min.js',
				'jquery.cycle2.min.js',
				'jquery.cycle2.swipe.min.js',
				'jquery.flexslider-min.js',
				'jquery.validate.min.js',
				'jquery.velocity.min.js',
				'jquery.magnific-popup.min.js',
				'parallax.min.js',
				'smoothScroll.min.js',
				'superfish.min.js',
				'tweets.min.js',
				'waypoints.min.js',
				'jquery.countTo.min.js'
			];
			/* ]]> */
		</script>	
		<script type="text/javascript" src='assets/home/script.js'></script>
	</body>
</html>
