<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="MsPan致力于为英语爱好者和出国党打造最优质线上一对一北美外教口语平台, 精英引领, 伴随始终。"／>
        <META NAME="AUTHOR" CONTENT="MsPan">
        <META NAME="COPYRIGHT" CONTENT="&copy; 2016 MsPan">

		<title>MsPan － 法律声明</title>

        <%= csrf_meta_tags %>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-86757428-1', 'auto');
		  ga('send', 'pageview');
		</script>

		<link rel="stylesheet" href="assets/home/css/bootstrap.css" media="screen" />
		<link rel="stylesheet" href="assets/home/css/styles.css" media="screen" />
		<link rel="stylesheet" href="assets/home/css/font-awesome.min.css" media="screen" />
		<link rel="stylesheet" href="assets/home/css/magnific-popup.css" media="screen" />
		<link rel="stylesheet" href="assets/home/css/retina.css" media="screen" />
		<link rel="stylesheet" href="assets/home/css/media.css" media="screen" />
		<link rel="stylesheet" href="assets/home/css/animated.min.css" media="screen" />
		<link rel="shortcut icon" href="assets/home/mspanicon.jpg" type="image/jpg">	
		
	</head>		
	<body>
		
		<!--Welcome section-->
		<header class="alt"  data-animation="fadeIn fast" data-delay="0"> <!--alt class for no bg -->
			<div class="container">
				<div class="row">
					<!--Company name-->
					<div class="col-md-3 for-mobile-header-1"><!-- for-menu-header-1 class for fullwidth dropdown menu on devices -->
						<h1><%= link_to "MsPan", "/", style: "text-transform:capitalize; color:#fed136;" %></h1>
					</div>
					<div class="col-md-9 for-mobile-header-2 for-one-page"><div class="mobile-wrapper clearfix">  <!-- for-menu-header-2 class for fullwidth dropdown menu on devices -->
							<!--Menu block-->
							<nav class="main-menu clearfix navbar navbar-default">
								<!--menu button on responsive -->
								<div class="navbar-header" data-toggle="collapse" data-target="#top-main-menu">
									<button type="button" class="navbar-toggle">									
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="#">菜单导航</a> 
								</div>
							</nav>
							<div class="collapse navbar-collapse m-menu" id="top-main-menu">
								<ul class="sf-menu superfish-li-relative">
								<li><a href="https://www.wenjuan.com/s/6JBJJv/" class="active" target="_blank"><span class="fa fa-user"></span> 申请上课 </a></li>
								   <!-- <li><a href="#" class="active"><span class="fa fa-user"></span> 注册 </a></li>
                                   <li><a href="#" class="active"><span class="fa fa-sign-in"></span> 登录 </a></li> -->
                                   <li><%= link_to "Apply to Teach", {controller: "home", action: "teacherhome"}, class: "link-header link-underline-brand", style: "text-transform:capitalize; font-size:13px;" %></li>
								</ul>
							</div>
						</div></div>
				</div>
			</div>
		</header>

		<!--Head img section-->
		<section class="waypoint" data-hash="head">
			<!--Img block-->
			<div class="img-block features-watch alt-bg" style="padding-top:189px; padding-bottom:173px;">
				<div class="overlay" style="opacity:0.3;"></div>
			</div>
		</section>
 
        <!--Terms section-->
		<section data-hash="terms" class="waypoint" >
			<div>
				<div class="spacer" style="height:81px;"></div>
				<!--Contact form block-->
				<div class="container">
					<div class="col-sm-12">
						<div class="row">
							<div class="tAc">
								<h2 class="big" style="max-width:710px; display:inline-block; font-family: 'Microsoft YaHei'" data-animation="fadeInUp slow" data-delay="0">法律声明</h2><br/>
							</div>
						</div>
                        <div class="spacer" style="height:60px;"></div>

				        <div class="term_text">
						    <p class="term_title">
						        用户注册使用本站即同意以下用户协议：
						    </p>
						    <p class="term_title">
						        一、关于本用户协议的说明
						    </p>
						    <p class="term_content">
						            本用户协议双方为MsPan与用户，本用户协议具有中国相关法律法规规定的合同效力。
						            本用户协议内容包括协议正文及所有MsPan已经发布的或将来可能发布的各类规则、说明或其他文件。
						            MsPan的各项服务的所有权和运作权归本站所有。本站提供的服务将完全按照其发布的服务条款和操作规则严格执行。
						            用户在使用MsPan提供的各项服务的同时，承诺接受并遵守各项相关规则的规定。
						            用户必须完全同意所有服务条款并完成注册程序，才能成为本站的正式用户。用户确认本协议条款是处理双方权利义务的当然约定依据，除非违反国家强制性法律，否则始终有效。
						            如本协议有任何变更，MsPan将在网站上刊载公告，通知用户。如用户不同意相关变更，必须立即停止使用MsPan，否则视为用户同意相关变更。
						            在注册本站会员的同时，用户同时承认自愿接受本用户协议的所有内容，本用户协议即在用户和MsPan之间产生法律效力。请用户务必在注册之前认真阅读全部用户协议内容，如有任何疑问，可向(WeiChat, Email)咨询。</p>
						    <div class="spacer" style="height:15px;"></div>
						    <p class="term_title">
						        二、服务内容及费用
						        </p><p class="term_content">
						            MsPan为注册已付费的用户提供以下服务：
						        </p>
						        <p class="term_content">
						            1、指导员为用户推荐匹配外教，并监督用户教学进度，提供指导意见。
						        </p>
						        <p class="term_content">
						            2、MsPan通过国际互联网为用户预约北美外教。
						        </p>
						        <p class="term_content">
						            服务费用由外教个人定制，用户预约外教时自动同意外教的付费标准。MsPan按课次收费。
						        </p>
						    <div class="spacer" style="height:15px;"></div>
						    <p class="term_title">
						        三、用户的注册义务
						        </p>
						        <p class="term_content">
						        	1、请依注册申请程序所提示之项目，登录您本人正确、真实及完整之个人资料。当您的个人资料有异动时，请立即予以更新，以维持您个人资料之正确、真实及完整。如因您登录资料不实或冒用他人名义，以致个人权利受有损害或有侵害他人之权利或有违反法令时，应自负相关之法律责任。
						        </p>
						        <p class="term_content">
						            2、如您所提供个人资料有误或个人资料异动但未予更新，以致于与原登录之数据不符时，本公司有权随时终止各项服务。
						        </p>
						    <div class="spacer" style="height:15px;"></div>
                            <p class="term_title">
						        四、用户的使用义务
						        </p>
						        <p class="term_content">
						            1、您注册完成后将会取得一组账号及密码，您有义务妥善保管您的账号及密码之机密与安全，不得泄漏给任何第三人。您必须为此组账号及密码之一切行为负责，此组账号及密码所做之一切行为即视为您本身之行为。
						        </p>
						        <p class="term_content">
						            2、本组账号及密码仅限于您个人使用，非经本公司之同意，您不得出租、出借、移转或让与给其他第三人使用。
						            
						        </p>
						        <p class="term_content">
						            3、如您发现您的账号及密码遭盗用或其他不当使用，您必须立即通知MsPan，以利本公司采取相应保护措施。但不得将本公司所采取之措施解释为本公司对您有明示或默示担保负任何责任，对于您的账号及密码遭人非法使用，本公司亦无法负任何赔偿责任。
						        </p>
						        <p class="term_content">
						            4、每次使用完毕后，应确实注销并结束您账号及密码的使用，以防止被他人盗用。
						        </p>

							<div class="spacer" style="height:15px;"></div>
						    <p class="term_title">
						        五、用户隐私制度
						        </p><p class="term_content">
						            当用户注册合一公司的服务时，用户须提供个人信息。本站收集个人信息的目的是为用户提供尽可能多的个人化网上服务。
						            本站对用户的电子邮件、手机号等隐私信息进行保护，承诺不会在未经合法用户授权时，公开、编辑或透露其个人信息及保存在本站中的非公开内容，不会在未获得用户许可的情况下擅自将用户的个人资料信息出租或出售给任何第三方，但以下情况除外：
						        </p>
						        <p class="term_content">
						            1、用户同意让第三方共享其信息；
						        </p>
						        <p class="term_content">
						            2、用户同意公开其个人资料，以享受特定的产品和服务；
						        </p>
						        <p class="term_content">
						            3、本站发现用户违反了本站服务条款或本站其它使用规定，或者国家司法机构依据法律要求本站配合其工作，
						            公开某涉嫌违法的用户资料。
						        </p>

						    <div class="spacer" style="height:15px;"></div>
						    <p class="term_title">
						        六、用户禁止行为
						        </p>
						        <p class="term_content">
						            1、窃取、更改、破坏他人信息，或有擅自复制他人信息转售、转载情事者。
						        </p>
						        <p class="term_content">
						            2、散播计算机病毒者。
						        </p>
						        <p class="term_content">
						            3、公布或传送任何诽谤、侮辱、具威胁性、攻击、不雅、猥亵、不实，或有违背公序良俗、字义、图片或任何形式的档案于MsPan网站上。
						        </p>
						        <p class="term_content">
						            4、撷取、转寄、播放非经所有权人正式开放或授权之资源者。
						        </p>
						        <p class="term_content">
						            5、侵害他人名誉、隐私权、营业秘密、知识产权或其他相关之权利，或有侵害之虞。
						        </p>
						        <p class="term_content">
						            6、未经同意收集他人电子邮件地址及其他个人资料。
						        </p>
						        <p class="term_content">
						            7、利用本站服务进行营利及投机。
						        </p>
						        <p class="term_content">
						            8、犯罪及参与犯罪相关行为。
						        </p>
						        <p class="term_content">
						            9、用户本人或通过代理人以任何方式绕过本站流程、私下与老师取得联络。
						        </p>
						        <p class="term_content">
						            10、其他有危害通信、违反相关法令或本公司规定之情事或之虞。
						        </p>
  							<div class="spacer" style="height:15px;"></div>
						    <p class="term_title">
						        七、基于网络服务的特性，用户同意：
						        </p>
						        <p class="term_content">
						            自行配备上网的所需设备，包括个人电脑、调制解调器或其他必备上网装置。
						        </p>
						        <p class="term_content">
						            自行负担个人上网所产生的与此服务有关的网络信息费及电话费等。
						        </p>
						        <p class="term_content">
						            因特网系开放性网络，并由各网络提供者负责维护，本公司无法就会员撷取信息资源之正确性、完整性、安全性、可靠性、合适性、线路中断及错误负责，亦无法保证用户与本公司间数据传输速率，会员如因传输速率或撷取使用网络数据而导致直接或间接之损害或损失时，本公司不负任何损害赔偿责任。
						        </p>
						        <p class="term_content">
						            本服务网络上可撷取之任何资源，皆属该数据所有者所拥有，使用会员应遵守各该网络信息所有者之授权或其他法律规定，否则不得使用该等资源，如因此导致任何责任皆由使用者自行负责，概与本公司无涉。						            
						        </p>
						    <div class="spacer" style="height:15px;"></div>
						    <p class="term_title">
						        八、不可抗力
						        </p>
						        <p class="term_content">
						            若提供课程服务的外教所在地发生突发的事故、火灾、水灾、自然灾害、电信或互联网故障、 罢工、战争、暴乱、叛乱、封锁、政府行为等不以本站及外教本人的意志为转移的突发事件， 本站有权延期提供服务，或者暂时停止服务，履行义务的期限也相应延长。
						        </p>
						    <div class="spacer" style="height:15px;"></div>    
						    <p class="term_title">
						        九、责任限制
						        </p>
						        <p class="term_content">
						            如因不可抗力或其他本站无法控制的原因使本站系统崩溃或无法正常使用而导致用户的网上交易无法完成或丢失有关的信息、记录等， 本站不承担责任。但是本站会尽可能合理地协助处理善后事宜，并努力使用户免受经济损失。
						        </p>
						    <div class="spacer" style="height:15px;"></div>
						    <p class="term_title">
						        十、法律管辖和适用
						        </p>
						        <p class="term_content">
						            本协议的订立、执行和解释及争议的解决均应适用中国法律。如发生本站服务条款与中国法律相抵触时，则这些条款将完全按法律规定重新解释，而其它合法条款则依旧保持对用户产生法律效力和影响。
						        </p>
						        <p class="term_content">
						            本服务条款未约定事项，依本公司内部或网站上有关之公告、说明、服务条款补充，并依中华人民共和国法律与其它相关法令解释并适用之。						            
						        </p>
						        <p class="term_content">
						            本协议的规定是可分割的，如本协议任何规定被裁定为无效或不可执行，该规定可被删除而其余条款应予以执行。
						        </p>
						        <p class="term_content">
						            如双方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向本站所在地的人民法院提起诉讼。
						        </p>
						</div>
                    </div>
                </div>
				<div class="spacer" style="height:78px;"></div>
			</div>
		</section>	

		<!--Footer section-->
		<section id="footer">
			<div class="copyright-block">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="tAc">
							    <div style="margin-top: 10px;">
                                    <a href = "index.html" style="font-family:Kaushan Script,Helvetica Neue,Helvetica,Arial,cursive; font-size:25px; text-decoration: none; color:#fed136">MsPan</a>
                                </div><br>
                                <div class="links text-center text-uppercase">
                                 <%= link_to "首页", "/" %> · 
                                 <%= link_to "关于我们", {controller:"home", action:"about"} %> · 
                                 <%= link_to "学员指南", {controller:"home", action:"guidance"} %> · 
                                 <%= link_to "联系我们", {controller:"home", action:"contact"} %>

                                <!-- <a href="index.html" style="text-decoration: none;">首页</a> · <a href="about.html" style="text-decoration: none;">关于我们</a> · <a href="guidance.html" style="text-decoration: none;">学员指南</a> · <a href="contact.html" style="text-decoration: none;">联系我们</a> -->
                                </div>
                                <div class="spacer" style="height:20px;"></div>
								<div style="font-weight:lighter;color:rgb(131, 128, 128);font-size:13px;"><div>MsPan 精英引领 伴随始终</div>
								<div class="notranslate" style="font-size:10px;">Copyright &copy; 2016 MsPan
								- All Rights Reserved.</div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

        <script type="text/javascript" src='assets/home/modernizr.min.js'></script>
		<script type="text/javascript" src='assets/home/jquery.min.js'></script>	
		<script>
			/* <![CDATA[ */
			var loadPageScripts = [
				'imagesloaded.pkgd.min.js',
				'bootstrap.min.js',				
				// 'isotope.min.js',
				// 'jquery.cycle2.min.js',
				// 'jquery.cycle2.swipe.min.js',
				// 'jquery.flexslider-min.js',
				// 'jquery.validate.min.js',
				// 'jquery.velocity.min.js',
				// 'jquery.magnific-popup.min.js',
				'parallax.min.js',
				'smoothScroll.min.js',
				// 'superfish.min.js',
				// 'tweets.min.js',
				'waypoints.min.js',
				// 'jquery.countTo.min.js'
			];
			/* ]]> */
		</script>	
		<script type="text/javascript" src='assets/home/script.js'></script>
	</body>
</html>
