<% if appointment.not_started? %>
  <%= render partial: 'teacher/shared/scheduled_start', locals: { appointment: appointment } %>

  <% if appointment.cancelable? %>
    <%= link_to('Cancel',
      teacher_appointment_path(appointment, state: :canceled),
      method: "put",
      remote: true,
      id: "cancel-appointment-#{appointment.id}",
      class: "btn btn-link",
      data: { confirm: "Are you sure?" }
    )%>
  <% end %>
<% end %>

<% if appointment.joinable? %>
  <% if appointment.teacher.zoom.present? %>
    <%= link_to "Join",
      zoom_url(appointment.teacher.zoom),
      target: "_blank",
      class: "btn btn-default btn-raised"
    %>
  <% else %>
    <div class="text-center">
      <span>Ongoing</span>
    </div>
  <% end %>
<% end %>

<% if appointment.uncompleted? %>
  <div class="text-center small">
    <span>Waiting for completion</span>
  </div>

  <%= render partial: 'teacher/shared/scheduled_start', locals: { appointment: appointment } %>
<% end %>

<% if appointment.state.canceled? %>
  <div class="text-center small">
    <span><%= "Canceled at"%></span>
    <br >
    <span><%= teacher_format(appointment.updated_at) %></span>
  </div>
<% end %>

<% if appointment.state.completed? %>
  <%= render partial: 'teacher/shared/scheduled_start', locals: { appointment: appointment } %>
<% end %>
