<div class="card main-card english-card">
  <div class="profile">
    <div class="pic">
      <%= image_tag("no_profile_image") %>
    </div>
    <div class="info"><%= appointment.student.full_name %></div>
  </div>
  <div class="actions">

    <% if appointment.not_started? %>
      <%= render partial: 'teacher/shared/scheduled_start', locals: { appointment: appointment } %>

      <% if appointment.cancelable? %>
        <%= render partial: 'teacher/shared/cancel_actions', locals: { appointment: appointment } %>
      <% end %>
    <% end %>

    <% if appointment.ongoing? %>
      <div class="text-center">
        <span>Ongoing</span>
      </div>
    <% end %>

    <% if appointment.uncompleted? %>
      <%= render partial: 'teacher/shared/complete_actions', locals: { appointment: appointment } %>
      <%= render partial: 'teacher/shared/scheduled_start', locals: { appointment: appointment } %>
    <% end %>

    <% if appointment.state.canceled? %>
      <div class="text-center small">
        <span><%= "Canceled at"%></span>
        <br >
        <span><%= teacher_format(appointment.updated_at) %></span>
      </div>
    <% end %>

    <% if appointment.state.completed? %>
      <%= render partial: 'teacher/shared/scheduled_start', locals: { appointment: appointment } %>
    <% end %>
  </div>
</div>
