<div class="availability-preview">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Next 7 Days</h3>
    </div>
    <div class="panel-body">
      <div id="preview-calendar"
        data-mintime=<%= time_from_hour(@earliest_hour) %>
        data-maxtime=<%= time_from_hour(@latest_hour) %>
        data-availabilities=<%= @availabilities_datetime.to_json %>
        data-today=<%= Time.zone.today.wday %>
      ></div>
    </div>
  </div>
  <div class="text-center">
    <%= link_to("Update my availability", teacher_availabilities_path, { class: "btn btn-primary" }) %>
  </div>
</div>
