<div class="sidebar hidden-xs">
  <%= render 'layouts/profile' %>

  <div class="stats">
    <% if current_student %>
      <%= render 'layouts/student_stats' %>
    <% elsif current_teacher %>
      <%= render 'layouts/teacher_stats' %>
    <% end %>
  </div>

  <div class="quick-links">
    <% if current_student %>
      <%= render 'layouts/student_quick_links' %>
    <% elsif current_teacher %>
      <%= render 'layouts/teacher_quick_links' %>
    <% end %>
  </div>
</div>