<div class="modal fade" id="student-signup-modal" title="用户注册">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
    <h4 class="modal-title">用户注册</h4>
  </div>
  <div class="modal-body">
    <div class="modal-body-content">
      <%= form_for(Student.new, as: :student, url: registration_path(:student)) do |f| %>

        <div class="field">
          <%= f.label :email, '邮箱' %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password, '密码' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, '确认密码' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "注册" %>
        </div>
      <% end %>
    </div>
    <div class="ajax-loader"></div>
  </div>
  <div class="modal-footer">
    <button aria-hidden="true" class="btn modal-close" data-dismiss="modal">取消</button>
  </div>
</div>
