<div>
<%= link_to student_appointments_path(state: :new), class: "btn" do %>
  <strong><%= current_student.scheduled_appointments.count %></strong>
  <small>预约的课程</small>
<% end %>
</div>

<div class="v-divider">
<%= link_to student_appointments_path(state: :completed), class: "btn" do %>
  <strong><%= current_student.completed_appointments.count %></strong>
  <small>完成的课程</small>
<% end %>
</div>

<div class="v-divider">
<%= link_to student_appointments_path(state: :canceled), class: "btn" do %>
  <strong><%= current_student.canceled_appointments.count %></strong>
  <small>取消的课程</small>
<% end %>
</div>
