<div class="quick-links-label">相关链接</div>

<ul>
  <li><%= link_to "上课流程", student_lesson_path %></li>
  <li><%= link_to "学费相关", student_tuition_path %></li>
  <!-- # <li><%= link_to "体验课", student_trial_path %></li> -->
  <li><%= link_to "约课规则", student_rule_path %></li>
  <li><%= link_to "视频软件", student_zoom_path %></li>
  <li><%= link_to "请求帮助", student_contact_path %></li>
</ul>
