<ul class="nav navbar-nav navbar-right">
  <li><a href="#"><%= Time.current.strftime("%I:%M %P") %></a></li>
  <li class="v-divider"><a id="balance" href="#"><%= number_to_currency(current_teacher.balance) %></a></li>
  <li class="dropdown v-divider">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_teacher.full_name %> <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Profile", teacher_profile_path %></li>
      <li><%= link_to "Scheduled", teacher_appointments_path(state: :new) %></li>
      <li><%= link_to "Completed", teacher_appointments_path(state: :completed) %></li>
      <li><%= link_to "Canceled", teacher_appointments_path(state: :canceled) %></li>
      <li><%= link_to('Logout', destroy_teacher_session_path, :method => :delete) %></li>
    </ul>
  </li>
</ul>
