<div class="quick-links-label">Quick Links</div>

<ul>
  <li><%= link_to "Start/Cancel a lesson", teacher_lesson_path %></li>
  <li><%= link_to "Report issues", teacher_issue_path %></li>
  <li><%= link_to "Get paid", teacher_pay_path %></li>
  <li><%= link_to "Teacher manual", teacher_manual_path %></li>
  <li><%= link_to "Updating my profile", teacher_profile_path %></li>
  <li><%= link_to "FAQ", teacher_faq_path %></li>
  <li><%= link_to "Ask for help", teacher_contact_path %></li>
</ul>
